body{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}


.main-container{
  border-radius: 2rem;
}

/*-checking if only numbers are typed.
-the style is going to be the following, the screen is dived in two. one coin in each side. Bellow there is a plot of the historical data in the last 30 days. one side is dark the other is not.
*/